@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  cursor: pointer;
  min-width: 9.3rem;
  min-height: 4.8rem;
  align-items: center;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.9rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
.button_primary {
  background-color: #2F1160;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-right: 21px;
}
.button_primary:nth-child(n+5) {
  margin-top: 1.8rem;
}
.button_primary:nth-child(4n) {
  margin-right: 0;
}
.button_secondary {
  background-color: white;
  color: #2F1160;
  border-radius: 4px;
  border-color: #2F1160;
  border-width: 3px;
  outline: none;
  margin-right: 21px;
}
.button_secondary:nth-child(n+5) {
  margin-top: 1.8rem;
}
.button_secondary:nth-child(4n) {
  margin-right: 0;
}
.button_tetriary {
  border: none;
}
.button_secondary_disabled {
  color: #B9B7BD;
  border-color: #B9B7BD;
}
.button__icon_plus_secondary {
  margin-right: 1.5rem;
  fill: #2F1160;
}
.button_primary_disabled {
  background-color: white;
  color: #B9B7BD;
}
.button_primary_group {
  margin: 0;
}
.button_primary_group_disabled {
  margin: 0;
  margin-top: 2.5rem;
}
.button__icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: white;
  outline: none;
  margin-right: 2.5rem;
}
.button__icon:nth-child(n+2) {
  margin-top: 1.8rem;
}
.button__icon_enabled {
  background-color: #2F1160;
  border: none;
}
.button__icon_disabled {
  border: none;
}
.button__icon_disabled_normal {
  border-color: #B9B7BD;
}
.button__icon_normal {
  border-color: #2F1160;
  border-width: 4px;
}
.button__icon_borderless {
  border: none;
}
.button__icon_plus {
  margin-right: 1.5rem;
}
.button__icon_plus_full {
  margin: 0;
  border: none;
  outline: none;
  width: 2.4rem;
  height: 2.4rem;
}
.button__icon_plus_full_disabled {
  filter: brightness(0.8);
}
.button__icon_plus_disabled {
  margin-right: 1.5rem;
  filter: brightness(0.8);
}
.button__icon_less {
  margin-left: 1.5rem;
}
.button__icon_less_secondary {
  margin-left: 1.5rem;
}
.button__icon_less_disabled {
  margin-left: 1.5rem;
  filter: brightness(0.8);
}

.section {
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-style: dashed;
  border-color: #2F1160;
  border-width: 2px;
  border-radius: 5px;
  width: fit-content;
}
.section__buttons {
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: center;
}
.section__default {
  border-style: dashed;
  border-color: #2F1160;
  border-width: 2px;
  border-radius: 5px;
  padding: 1.5rem;
  margin-right: 2.5rem;
}
.section__primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section_shadowed {
  box-shadow: 14px 5px 40px rgba(0, 0, 0, 0.1);
}
.section_secondary {
  display: flex;
  border: none;
}
.section_group {
  border: none;
  display: flex;
}
.section__buttons_icons {
  justify-content: start;
  flex-direction: column;
}
.section__icons_top {
  display: flex;
}
.section__icons_bottom {
  display: flex;
}
.section_icons_lupe {
  position: absolute;
  left: 30px;
  top: 30px;
}
.section_icons_lupe_disabled {
  position: absolute;
  left: 15px;
  top: 30px;
}
.section__icon_less {
  margin-left: 5px;
  margin-right: 5px;
}
.section__nav_text {
  padding: 1.6rem;
  border-style: dashed;
  border-color: #2F1160;
  border-width: 2px;
  border-radius: 5px;
  max-width: 34.5rem;
}
.section_horinav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.6rem;
  max-width: 52.8rem;
  width: 100%;
}
.section_horinav_wide {
  padding: 1.6rem;
}
.section_tab {
  padding: 1.6rem;
}
.section_horinav_split {
  flex: auto;
}
.section_wide {
  width: 100%;
}
.section_tab_vertical {
  display: flex;
  width: 100%;
}
.section__bar {
  display: flex;
  margin-top: 1.6rem;
}
.section__bar_spaced {
  justify-content: space-between;
  align-items: center;
}
.section__bar:first-child {
  margin: 0;
}
.section__bar_vertical {
  flex-direction: column;
}
.section_inputs {
  display: flex;
  flex-wrap: wrap;
}
.section__input {
  position: relative;
  padding: 1.5rem;
}
.section__input:nth-child(2n) {
  padding: 1.5rem 1.5rem 1.5rem 0;
}
.section_textarea {
  display: flex;
  flex-wrap: wrap;
}
.section_toolbar {
  border: none;
  display: flex;
  max-width: 38.5rem;
  justify-content: space-between;
  width: 100%;
}
.section__input_radio {
  display: flex;
  align-items: center;
}
.section__input_radio:nth-child(2n) {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.section__input_radio:checked + .section_inputs_radio {
  max-width: 26.2rem;
}
.section__text {
  display: flex;
  margin-bottom: 1.6rem;
}
.section__text:last-child {
  margin-bottom: 0;
}
.section_borderless {
  border: none;
  padding: 2.4rem 4rem;
}
.section_dropdown {
  padding: 1.6rem;
  min-width: 14.2rem;
}
.section_dropdown_item {
  display: flex;
  margin-bottom: 2.8rem;
}
.section_dropdown_item:last-child {
  margin: 0;
}
.section_breadcrumb {
  border: none;
}
.section_pager {
  border: none;
}

.title {
  font-size: 6.9rem;
  color: #2F1160;
}
.title__third {
  font-size: 1.8rem;
  color: #2F1160;
  margin: 0;
}

.text {
  font-size: 1.6rem;
  color: #2F1160;
  margin: 0;
}
.text__radio {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: #2F1160;
}
.text__radio::before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid #2F1160;
  border-radius: 50%;
  margin-right: 10px;
}
.text__radio_disabled {
  color: #B9B7BD;
}
.text__navigation {
  color: #2F1160;
  font-size: 1.6rem;
  font-weight: 700;
}
.text__active {
  color: #6200FF;
}
.text_inactive {
  color: #B9B7BD;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100rem;
  position: relative;
  background-color: white;
  z-index: 0;
  padding-left: 20rem;
  padding-right: 17rem;
}
.page_nav {
  padding-right: 21rem;
}

.input {
  height: 5rem;
  padding: 1.1rem 2rem;
  font-size: 1.8rem;
  color: #2F1160;
  font-weight: 500;
  position: relative;
  border-color: #2F1160;
  border-radius: 4px;
  min-width: 29rem;
  background-color: white;
}
.input:focus {
  border-color: #2F1160;
}
.input_disabled {
  color: #B9B7BD;
  filter: grayscale(0.9);
}
.input_disabled::placeholder {
  color: #B9B7BD;
}
.input_textarea {
  min-height: 12rem;
}
.input_textarea::placeholder {
  color: #2F1160;
}
.input_search {
  max-width: 29.5rem;
  padding: 1.1rem 1rem 1.1rem 4rem;
}
.input_radio {
  min-width: 3rem;
  min-height: 3rem;
  display: none;
}
.input_radio:checked {
  height: 10px;
  width: 10px;
  color: #2F1160;
  border: 10px solid white;
}
.input_radio:checked {
  background-color: #2F1160;
}
.input_radio:checked + .text__radio::before {
  background-color: white;
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid #2F1160;
  border-radius: 50%;
  margin-right: 10px;
}
.input_radio:checked + .text__radio::after {
  display: block;
}

.label {
  position: absolute;
  left: 37px;
  top: 6px;
  background-color: white;
  font-weight: 700;
  font-size: 1.4rem;
  color: #2F1160;
}
.label_disabled {
  color: #B9B7BD;
  left: 24px;
}

.title {
  font-size: 6.9rem;
  color: #2F1160;
}

.text__radio {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  color: #2F1160;
}
.text__radio::before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid #2F1160;
  border-radius: 50%;
  margin-right: 10px;
}
.text__radio::after {
  content: "";
  display: none;
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #2F1160;
  border-radius: 50%;
  left: 13px;
}
.text__radio_disabled {
  color: #B9B7BD;
}

.card {
  min-width: 11.2rem;
  min-height: 7.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #6200FF;
}
.card_list {
  border: none;
  flex-direction: row;
  padding: 1.6rem;
  justify-content: start;
  min-width: 35.2rem;
}
.card__list_item {
  width: 100%;
}
.card__img {
  margin-bottom: 5px;
}
.card_inactive {
  border-color: #B9B7BD;
}
.card_border_bot {
  border-top: none;
  border-bottom: 3px solid #6200FF;
}
.card_border_right {
  border-top: none;
  border-right: 3px solid #6200FF;
}
.card_border_left {
  border-top: none;
  border-left: 3px solid #6200FF;
}
.card_pictureless {
  min-width: 8.1rem;
  min-height: 4.8rem;
  padding: 12px 15px;
}

.img_dropdown_plus {
  margin-right: 1rem;
}
.img_dropdown_less {
  margin-left: 1rem;
}
.img_people {
  margin-right: 2.1rem;
}

/*# sourceMappingURL=index.css.map */
