@import "./src/styles/fonts.scss";
@import "./src/styles/variables.scss";


* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}



body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: normal;
    display: flex;
    justify-content: center;

}

@import "./src/styles/btn.scss";
@import "./src/styles/section.scss";
@import "./src/styles/text.scss";
@import "./src/styles/page.scss";
@import "./src/styles/input.scss";
