.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100rem;
    position: relative;
    background-color: white;
    z-index: 0;
    padding-left: 20rem;
    padding-right: 17rem;

    &_nav {
        padding-right: 21rem;
    }
}