.section {
    margin-top: 8rem;
    margin-bottom: 8rem;
    border-style: dashed;
    border-color: $blue;
    border-width: 2px;
    border-radius: 5px;
    width: fit-content;


    &__buttons {
        max-width: 60rem;
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem;
        justify-content: center;
    }

    &__default {
        border-style: dashed;
        border-color: $blue;
        border-width: 2px;
        border-radius: 5px;
        padding: 1.5rem;
        margin-right: 2.5rem;
    }

    &__primary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &_shadowed {
        box-shadow: 14px 5px 40px rgb(0 0 0 / 10%);
    }


    &_secondary {
        display: flex;
        border: none;
    }

    &_group {
        border: none;
        display: flex;
    }

    &__buttons_icons {
        justify-content: start;
        flex-direction: column;
    }

    &__icons_top {
        display: flex;
    }

    &__icons_bottom {
        display: flex;
    }

    &_icons_lupe {
        position: absolute;
        left: 30px;
        top: 30px;
    }

    &_icons_lupe_disabled {
        position: absolute;
        left: 15px;
        top: 30px;
    }

    &__icon_less {
        margin-left: 5px;
        margin-right: 5px;
    }

    &__nav_text {
        padding: 1.6rem;
        border-style: dashed;
        border-color: $blue;
        border-width: 2px;
        border-radius: 5px;
        max-width: 34.5rem;

    }


    &_horinav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1.6rem;
        max-width: 52.8rem;
        width: 100%;
    }

    &_horinav_wide {
        padding: 1.6rem;
    }

    &_tab {
        padding: 1.6rem;
    }

    &_horinav_split {
        flex: auto;
    }

    &_wide {
        width: 100%;
    }

    &_tab_vertical {
        display: flex;
        width: 100%;
    }

    &__bar {
        display: flex;
        margin-top: 1.6rem;

        &_spaced {
            justify-content: space-between;
            align-items: center;
        }

        &:first-child {
            margin: 0;
        }

        &_vertical {
            flex-direction: column;
        }
    }

    &_inputs {
        display: flex;
        flex-wrap: wrap;
    }

    &__input {
        position: relative;
        padding: 1.5rem;

        &:nth-child(2n) {
            padding: 1.5rem 1.5rem 1.5rem 0;
        }
    }

    &_textarea {
        display: flex;
        flex-wrap: wrap;
    }

    &_toolbar {
        border: none;
        display: flex;
        max-width: 38.5rem;
        justify-content: space-between;
        width: 100%;
    }

    &__input_radio {
        display: flex;
        align-items: center;

        &:nth-child(2n) {
            padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        }

    }

    &__input_radio:checked+&_inputs_radio {
        max-width: 26.2rem;

    }

    &__text {
        display: flex;
        margin-bottom: 1.6rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &_borderless {
        border: none;
        padding: 2.4rem 4rem;
    }

    &_dropdown {
        padding: 1.6rem;
        min-width: 14.2rem;

        &_item {
            display: flex;
            margin-bottom: 2.8rem;

            &:last-child {
                margin: 0;
            }
        }
    }

    &_breadcrumb {
        border: none;
    }

    &_pager {
        border: none;
    }
}