.section {
    margin-top: 16rem;
    margin-bottom: 16rem;
    border-style: dashed;
    border-color: $blue;
    border-width: 2px;
    border-radius: 5px;


    &__buttons {
        max-width: 60rem;
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem;
        justify-content: center;
    }

    &__default {
        border-style: dashed;
        border-color: $blue;
        border-width: 2px;
        border-radius: 5px;
        padding: 1.5rem;
        margin-right: 2.5rem;
    }

    &_group {
        border: none;
        display: flex;
    }

    &__buttons_icons {
        justify-content: start;
        flex-direction: column;
    }

    &__icons_top {
        display: flex;
    }

    &__icons_bottom {
        display: flex;
    }
}