.title {
    font-size: 6.9rem;
    color: $blue;

    &__third {
        font-size: 1.8rem;
        color: $blue;
        margin: 0;
    }
}

.text {

    font-size: 1.6rem;
    color: $blue;
    margin: 0;

    &__radio {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 1.8rem;
        font-weight: 700;
        color: $blue;

        &::before {
            content: "";
            height: 30px;
            width: 30px;
            border: 3px solid $blue;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    &__radio_disabled {
        color: $grey;
    }

    &__navigation {
        color: $blue;
        font-size: 1.6rem;
        font-weight: 700;
    }

    &__active {
        color: $violet;
    }

    &_inactive {
        color: $grey;
    }
}